<h2> Your Pizza Orders, <%= @order.first_name() %> </h2>
<p> Name: <%= @order.pretty_name() %> <br></br>
Order: <%= @order.topping_quantity() %> </p>

</form>

<form action="/pizza-orders/<%= @order.id %>/edit" method="get">
  <input type="submit" id ='EditOrder-button' class='showbutton'value="Edit Order">

</form>

<form action="/pizza-orders/<%= @order.id %>/delete" method="post">
  <input type="submit" id ='DeleteOrder-button' class='showbutton' value="Delete Order">

</form>
